.app-container {
    margin: 2px;
    height: 100%;
    background-color: seashell;
    display: flex;
    flex-direction: row;
}

.report-list-container {
    padding: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
    box-sizing: border-box;
}

.map-container {
   margin: 2px;
   flex-basis: 60%;
}

.form-container {
    margin: 2px;
    flex-basis: 40%;
}